<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="kr.jkh.khbank.model.vo.MemberVO" alias="MemberVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.logVO" alias="logVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.AccountVO" alias="AccountVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.AccountLimitVO" alias="AccountLimitVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.DepositBalanceVO" alias="DepositBalanceVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.DepositVO" alias="DepositVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.DepositSubscriptionVO" alias="DepositSubscriptionVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.LoanRepaymentVO" alias="LoanRepaymentVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.LoanSubscriptionVO" alias="LoanSubscriptionVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.LoanVO" alias="LoanVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.TransactionVO" alias="TransactionVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.DepositTypeVO" alias="DepositTypeVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.MemberStateVO" alias="MemberStateVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.MemberAuthorityVO" alias="MemberAuthorityVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.MaturityDateVO" alias="MaturityDateVO"/>
		<typeAlias type="kr.jkh.khbank.model.vo.RepayMentVO" alias="RepayMentVO"/>
	</typeAliases>
</configuration>